.alertaContainer {
    position: absolute;
    top: 40px;
    padding: 10px 15px;
    background-color: rgb(12, 123, 34);
    border-radius: 5px;
    transform: translateY(-20px);
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
}
.alertaActiva {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.alertaContainer p {
    color: white;
    font-size: 16px;
}