.cargarPersonajeContainer {
    height: 100%;
    width: 100%;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease;
}
.cargarPersonajeContainerActivo {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}
.inputContainer {
    display: flex;
    max-width: 300px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
}
.inputCargarPersonaje {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background: radial-gradient(#fb761e, #7d0808);
    box-shadow: 0 0 10px 3px #000000;
}